{{template "admin" .}}

{{define "page-title"}}
    Dashboard
{{end}}

{{define "content"}}
    <div class="col-md-12">
        Dashboard content
        <div class="" id="test"></div>
    </div>
{{end}}


{{define "js"}}
<script>

    //Пример запроса на сервер для получения информации без перезагрузки страницы
// function sayHi() {
//     fetch('http://localhost:8080/admin/test')
//   .then((response) => {
//     return response.json();
//   })
//   .then((data) => {
//     target = document.getElementById('test')
//     target.textContent = data
//   });
// }
// sayHi()
// setInterval(() => sayHi(), 1000);


</script>
{{end}}
