{{template "admin" .}}

{{define "css"}}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
{{end}}

{{define "page-title"}}
Карточка аниматора
{{end}}

{{define "content"}}

<!-- Add new master-class button -->

<!-- <div class="row justify-content-end"> -->

<div class="clearfix"></div>
    <div class="col-md-12">
        
        {{$hero := index .Data "hero"}}


        <div class="container mb-3">
            <div class="row ">
                <div class="col-6">
                    <img src="/static/img/heroes/{{$hero.Photo}}" alt="Фото аниматора" width="100%" >
                </div>
                <div class="col-6">
                  <ul>
                    <li>
                        Имя: {{$hero.Name}}
                    </li>
                    <li>
                        Пол: {{if eq $hero.Gender 1}}мужской{{else}}женский{{end}}
                    </li>
               
                    <li>
                        Минимальный размер костюма: {{$hero.ClothingSizeMin}}
                    </li>
                    <li>
                        Максимальный размер костюма: {{$hero.ClothingSizeMax}}
                    </li>
                    <li>
                        Комментарий: {{$hero.Description}}
                    </li>
                    
                  </ul>  
                  <div class="container mb-3" >
                    <a href="/admin/hero-change/{{$hero.ID}}" class="btn btn-primary">Редактировать</a>
                    <button onclick="deleteChecklist({{$hero.ID}})" type="button" class="btn btn-danger">Удалить</button>
                    <a href="/admin/heroes" class="btn btn-warning">Назад</a>
                </div>
                </div>
                
            </div>
            
        </div>
        

    
        

    </div>
{{end}}

{{define "js"}}

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script>
 
    
    function deleteChecklist(id) {
        attention.custom({
            icon: 'warning',
            msg: 'Вы уверены?',
            callback: function(result) {
                if (result !== false) {
                    window.location.href = "/admin/hero-delete/" + id;
                }
            }
        })
    }
</script>

{{end}}


