{{template "admin" .}}



{{define "page-title"}}
{{$res := index .Data "party"}}
{{$res.Name}}
{{end}}

{{define "css"}}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
    <link rel="canonical" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
{{end}}

{{define "content"}}
{{$res := index .Data "party"}}
{{$checkList := index .Data "check-lists"}}


    <div class="col-md-12">
      

        <form action="/admin/party/{{$res.ID}}" method="post" class="" novalidate> 

            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <input type="hidden" name="id_party_quest" value="{{$res.ID}}">
  
            
            <div class="mb-3">
              <label for="name_party_quest" class="form-label">Название мастер-класса</label>
              {{with .Form.Errors.Get "name_party_quest"}}
              <label for="" class="text-danger">{{.}}</label>
              {{end}}
              <input type="text" value="{{$res.Name}}" class="form-control {{with .Form.Errors.Get "name_party_quest"}} is-invalid {{end}}" id="name_party_quest" name="name_party_quest" required>
            </div>
  
            <div class="mb-3">
                <label for="description" class="form-label">Описание</label>
                {{with .Form.Errors.Get "description"}}
                <label for="" class="text-danger">{{.}}</label>
                {{end}}
                <textarea required type="text" class="form-control {{with .Form.Errors.Get "description"}} is-invalid {{end}}"  rows="9" id="description" name="description">{{$res.Description}}</textarea>
              </div>
              <label for="select_check" class="form-label">Выберете чек-лист из списка</label>
              <select name="id_check_list" id="select_check" class="form-select mb-3" aria-label="">
                <option value="{{$res.CheckList.ID}}" selected>{{$res.CheckList.Name}}</option>

                {{range $checkList}}
                <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
                
        
              </select>
  
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
           <a href="/admin/party" class="btn btn-warning">Отмена</a>
          </form>
    </div>
{{end}}

{{define "js"}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{end}}
